.layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0;
}

.card {
  padding: 0.8rem;
  min-height: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--color-white);
  border-radius: 0.25rem;
  box-shadow: var(--shadow-light);

  cursor: pointer;
  transition: all 600ms;
}

.card:hover {
  box-shadow: var(--shadow-hover);
}
