section {
  margin-bottom: 3rem;
}

p {
  text-align: left;
}

.largeLink {
  background-color: var(--color-white);
  color: var(--color-purple);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 5rem;
  text-decoration: none;
  padding: 2rem 1rem;
  border-radius: 0.8rem;
  border: 0.15rem solid var(--color-grey);
  cursor: pointer;
}

.largeLink:hover {
  background-color: var(--color-white-very-dark);
}

.largeLink > span {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  color: var(--color-grey);
}
