.layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;

  padding: 0.5rem;
  margin: 0;
  min-height: 3rem;
  width: 100%;
}

.option {
  border: none;
  border-radius: 0.5rem;
  min-height: 2rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: var(--color-grey-light);
  background-color: transparent;
  cursor: pointer;
}

.optionSelected {
  color: var(--color-brand);
  border: 3px solid var(--color-brand);
}

.iconContainer {
  font-size: 2rem;
}

.error {
  margin: auto;
  padding: 0;
  color: var(--color-danger);
}

@media only screen and (min-width: 600px) {
  .option{
    padding: 1.5rem;
  }

  .iconContainer {
    font-size: 5rem;
  }
}
