.layout {
  margin: 0;
  padding: 1rem;
  min-height: 4rem;

  background-color: var(--color-white);
  border-radius: 0.8rem;
  box-shadow: var(--shadow);

  cursor: pointer;
  transition: all 600ms;
}

.layout:hover {
  box-shadow: var(--shadow-hover);
}

.charsContainer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2rem;
}

.info {
  margin-left: 0.8rem;
}