.layout {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  
  margin: 0;
  padding: 0.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background-color: var(--color-brand);
  min-height: 4rem;
  box-shadow: 0 -0.25rem 0.5rem 0.05rem var(--color-transparent-light);
  z-index: 10;
}

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: fit-content;
  height: fit-content;
  
  margin: 0;
  margin-left: 1rem;
  padding: 1rem;
  
  color: var(--color-white);
  background-color: transparent;

  border: none;
  font-size: 1.2rem;
  text-decoration: none;
  border-radius: 0.8rem;
  font-weight: bold;

  cursor: pointer;
  transition: all 600ms;
}

.navLink:hover {
  color: var(--color-white-dark);
  background-color: var(--color-brand-dark);
}

.navActive {
  background-color: var(--color-brand-dark);
}

.navLabel {
  display: none;
}

@media only screen and (min-width: 600px) {
  .navLink {
    flex-direction: row;
  }

  .navIcon {
    margin-left: 1rem;
  }

  .navLabel {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  .layout {
    top: 0;
    width: 17rem;
    right: auto;
    flex-direction: column;
    justify-content: flex-start;
  }
}
