.layout {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  
  margin: 0;
  padding: 0.5rem;

  background-color: var(--color-brand);
  min-height: 4rem;
  box-shadow: 0 -0.25rem 0.5rem 0.05rem var(--color-transparent-light);
}

.button {
  display: block;
  width: fit-content;
  height: fit-content;
  
  margin: 0 auto;
  padding: 1rem;
  
  border: none;
  background-color: var(--color-white);
  color: var(--color-brand);
  cursor: pointer;
  transition: all 600ms;
}

.button:hover {
  background-color: var(--color-white-dark);
}
