.layout {}

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 0.8rem;
  color: var(--color-grey);
}

.input {
  padding: 0.5rem 0.25rem;
  margin: 0;
  border-color: var(--color-grey);
  border-radius: 0.25rem;
}
