.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--color-brand-light);
  background: var(--gradient-brand);
  padding: 0.8rem;
  border-radius: 0.5rem;
  color: var(--color-white);
}

.title {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.leftBtn, .rightBtn {
  border: none;
  margin: 0;
  cursor: pointer;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
  background-color: var(--color-white);
  color: var(--color-brand);
  border-radius: 50%;
}

.leftBtn:hover, .rightBtn:hover {
  background-color: var(--color-white-very-dark);
}

.leftBtn {
  border-right: none;
}

.rightBtn {
  border-left: none;
}

.disabledBtn, .disabledBtn:hover {
  background-color: var(--color-white-obscure);
  color: var(--color-brand-light);
  cursor: not-allowed;
}

.value {
  font-size: 5rem;
  padding: 0.8rem 1rem;
  border: none;
  margin: 0 1rem;
  padding: 0;
}
