.layout {
  width: 100%;
  padding: 0 0.8rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border: 0.15rem solid var(--color-grey-light);
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: 1.1rem;
  text-align: left;
}

.layout:hover {
  border: 0.15rem solid var(--color-brand);
  color: var(--color-brand);
}

.toggler {
  background-color: var(--color-white-very-dark);
  border: none;
  border-radius: 1rem;
  height: 2rem;
  min-width: 3.5rem;
  cursor: pointer;
  transform: translateX(0);
  transition: all 600ms;
}

.bolis {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--color-brand);
  transition: all 600ms;
}

.togglerOn {
  background-color: var(--color-brand);
}

.bolisOn {
  transform: translateX(1.3rem);
  background-color: var(--color-white);
}
